.green-btn{
    background: #4CAF4F;
    color: #fff;
    font-weight: 400;
}

.green-btn:hover, .green-btn:focus{
    background: #3b853e;
    color: #fff;
}

.link-color{
    color: #4CAF4F;
    padding: 15px;
}

.text-translate{
    transform: translateY(-70%);
    background: #887f7f;
    padding:30px;
    width: 317px;
    margin: auto;
}


