.green-btn {
    background: #4CAF4F;
    color: #fff;
    font-weight: 400;
}

.green-btn:hover,
.green-btn:focus {
    background: #3b853e;
    color: #fff;
}

.link-color {
    color: #4CAF4F;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.title-color {
    color: #4CAF4F;
}

.text-translate {
    transform: translateY(-70%);
    background: #F5F7FA;
    padding: 30px;
    width: 317px;
    margin: auto;
    border-radius: 10px;

}

.produtos img {
    width: 100%;
}

.produtos a img {
    width: auto;
}

.demo {
    padding: 45px;
}

.card-footer {
    background: #263238;

}

.card-footer img {
    width: auto;
    padding: 5px;
}

.card-footer p {
    color: #fff;

}

.card-footer .aplic {
    padding: 16px;
    margin-left: 10px;
}


.logo {
    margin: 40px 0 30px;
}

input {
    border-radius: 7px;
    background:#48545a;
    border: none;
    margin: 24px 0;
    padding: 8px;
}

.form {
    display: flex;
    transform: translateX(-10);
}

.button {
    border: 0;
    background: transparent;
}

h6{
  color: #fff;
  margin: 40px 0 10px;
}

ul {
    list-style: none;
    padding-left: 0;
        
}

ul li{
    margin: 10px;

}

.aplic {
    margin: 30px 0;
}

.aplic a {
    margin: 5px;
}

.container-footer a{
    color: #fff;
  
}

.placeholder{
    color: #fff;
    display: flex;

}

.translate-button{
   background: transparent;
    transform: translateX(-53px)
}

 span{
    color: #3b853e;
}

.tesla{
    background-color: #F5F7FA;
}

.big-numbers{
    background-color: #F5F7FA;
    padding: 80px;
}

.translate-button{
    border: none;
}

.paragrafo-produtos{
    width: 628px;
    margin: auto;
    text-align: center;
}